

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

hr.solid {
  border-top: 3px solid #20BD1D;
  margin: 0;
  margin-top: 200px; 
  position: fixed; 
  width: 100%;
  top: 0; 
  left: 0; 
  
}

hr.solid2 {
  border-bottom: 3px solid #20BD1D;
  margin: 0;
  margin-bottom: 60px;
  position: fixed;
  width: 100%;
  top: auto; 
  bottom: 0; 
  left: 0;
}

.font {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: medium;
  margin-left: 5px;
  font-variation-settings: "slnt" 0;
  position: relative;
  top: 0; 
  left: 0; 
  height: 30px;
}

.font h1 {
  position: absolute;
  top: 100%; 
  left: 5px; 
}

.font2 {
  font-family: "Inter", sans-serif; 
  font-weight: 500;
  font-size: large; 
  margin-left: 60px;
  font-variation-settings: "slnt" 0;
  position: absolute; 
  top: 200px; 
  left: 0; 
}

.vertical-line {
  position: fixed; 
  border-left: 3px solid #20BD1D;
  height: 100%; 
  top: 0;
  left: 250px;
}

.test input[type="text"] {
  width: 190px;
  height: 40px;
  border: 2px solid #20BD1D;
  border-radius: 5px;
  margin-right: 0px;
  padding-right: 30px;
  background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2320BD1D" width="24" height="24"><path fill="%2320BD1D" d="M21.707 20.293l-4.22-4.22A9.428 9.428 0 0 0 18 10c0-5.238-4.262-9.5-9.5-9.5S-0 4.762-0 10s4.262 9.5 9.5 9.5c2.05 0 3.931-.648 5.477-1.748l4.22 4.22a.997.997 0 0 0 1.414 0 1 1 0 0 0 0-1.415zM1 10c0-4.411 3.589-8 8-8s8 3.589 8 8-3.589 8-8 8-8-3.589-8-8z"></path></svg>') no-repeat;
  background-position: right 10px center;
}

.test {
  position: fixed;
  top: 130px;
  left: 10px; 
}

.top-bar {
  background-color: #63DE77;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: black; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
}

.content {
  margin-top: 5px; 
  text-align: left; 
  margin-left: 5px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-variation-settings: 
    "slnt" 0;
}

.button {
  background-color: transparent; 
  border: 2px solid #000000; 
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; 
  position: absolute; 
  top: 50%; 
  margin-left: 1750px;
  transform: translateY(-50%); 
  padding: 8px 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}